<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/lotto.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  </head>
  <body>

  <section id="container" class="section_qr lotto645">
    <div class="contents">
       <div class="winner_number">
        <!-- <h3>구매하신 번호 (최대 30일 까지 표시 됩니다.)</h3> -->
       </div>
       <div class="list_my_number">
         <div class="tbl_basic">
          <table>
            <tbody>

              <tr>
                <td colspan="6" style="height: 20px;"> 
<%
if (result.length>0) { 

}
else {

}
%>
                    
                </td>
              </tr>
              <tr>
                <td colspan="6"> <a href="/">main</a> </td>
              </tr>
            </tbody>
          </table>
        </div>
       </div>
    </div>
</section>


</body>
</html>
